@page "/"
@using LaylasLittleCompanion.Server.Services
@inject TwitchClientService _client


<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
	<Authorized>
		<h1>Hello, @context.User.Identity.Name!</h1>
		<p>You can only see this content if you're authenticated.</p>
	</Authorized>
	<NotAuthorized>
		<a href="/login">Login</a>
	</NotAuthorized>
</AuthorizeView>

