.navbar-lp {
	background: $mauve;

	.navbar-brand {
		color: $pink-light;

		&:hover,
		&:focus {
			color: $pink-mauve;
		}
	}

	.navbar-nav {
		.nav-link {
			color: $white;

			&:hover,
			&:focus {
				color: $white;
			}

			&.disabled {
				color: $gray-100;
			}
		}

		.show > .nav-link,
		.nav-link.active {
			color: $yellow;
		}
	}

	.navbar-toggler {
		color: $navbar-light-color;
		border-color: $navbar-light-toggler-border-color;
	}

	.navbar-toggler-icon {
		background-image: escape-svg($navbar-light-toggler-icon-bg);
	}

	.navbar-text {
		color: $navbar-light-color;

		a,
		a:hover,
		a:focus {
			color: $navbar-light-active-color;
		}
	}
}
.navbar-lp .navbar-toggler {
	color: $pink-light;
	border-color: $pink-light;
}

.navbar-toggle-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#F9E7E6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
